@charset "UTF-8";

/** ELEMENT SELECTORS **/
h1,h2 {
    color: Navy;
    background-color: #ffd607;
    text-align: center;
}

/** CLASS SELECTORS **/
* { /** RESET ALL BOX PARAMS TO ZERO **/
    margin: 0;
    padding: 0;
    border: 0;
}

.theader {
    font-weight: bold;
    text-align: center;
    color: navy;
    background-color: aqua;
}

.righttext {
    text-align: right;
}

.dataEntryLabel {
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

.textfieldtext {
    width: 90%;
    border-radius: 5px;
    border: 2px solid navy;
}

.buttonrow {
    align-content: center;
    width: 99%;
    background-color: darkred;
    padding: 2px;
}

.buttoninput {
    align-content: center;
    background-color: lightgray;
    color: navy;
    font-weight: bold;
    margin: 3px;
    border-width: medium;
    border-radius: 5px;
    border-style: outset;
}

/** ID SELECTORS **/
#wrapperdiv {
    border: 2px solid navy;
    width: 100%;
}

/** DATA TABLE DISPLAY **/
#datarowsdiv {
    width: 99%;
    height: 150px;        /** FIXED HEIGHT FOR VISIBLE TABLE **/
    overflow-y: scroll;  /** ALLOW SCROLLING OF CONTENT **/
    margin: 1px;
}

#datarowstable {
    display: table;
    width: 99%;
    height: 200px;
    overflow-x: auto;
    font-size: x-small;
    border-style: solid;
    border-color: navy;
    background-color: lightgray;
}

/** DATA ENTRY **/
#dataentrytable {
    width: 99%;
    background-color: darkseagreen;
}

#articleId, #articleMonth, #articleYear {
    width: 70px;
}

/* CONTROL DATA TABLE COLUMN WIDTH */
#ahid #arid {
    width: 5%;
}

#ahtitle #artitle {
    width: 30%;
}

#ahauthor #arauthor {
    width: 30%;
}

#ahcategory #arcategory {
    width: 25%;
}

#ahmonth #armonth {
    width: 5%;
}

#ahyear #aryear {
    width: 5%;
}

#dataentrydiv {
    width: 99%;
    align-content: center;
    border-radius: 5px;
}

/** BUTTON DISPLAY SECTION **/
#buttondiv #buttontable {
    width: 99%
}

/** SYSTEM MESSAGE DISPLAY AREA **/
#messagetextdiv {
    width: 99%;
}

#messagetextarea {
    padding: 2px;
    margin: 3px;
    width: 99%;
    min-height: 50px;
    border: solid 2px navy;
    border-radius: 2px;
}

/** FOOTER: WELCOME and DATE TIME DISPLAY **/
#datetimefooterdiv{
    font-size: xx-small;
    color: navy;
    background-color: #ffd607;
}

#dtfirstcol {
    text-align: left;
    width: 45%;
    float: left;
    margin-left: 50px;
}

#dtsecondcol {
    text-align: center;
    width: 10%;
}

#dtthirdcol {
    text-align: right;
    width: 45%;
    float: right;
    margin-right: 50px;
}


